.text-start{
    text-align: left!important;
}
p{
    height: 302px;
    margin-top: 0;
    margin-bottom: 1rem;
}
 #b1{
    height: 61px;
    width: 201px;
    margin-left: 224px;
    margin-bottom: 192px;
    font-size: 18px;
    font-weight: 600;
}
 